<div class="album-header" style="background-color: #F37A82; padding: 20px; text-align: center;">
	{% if album %}
	<div style="display: flex; align-items: center; justify-content: flex-start;">
		<img src="{{ album.get_picture }}" alt="Album Icon" style="width: 150px; height: 150px; border-radius: 10%; margin-right: 20px; flex-shrink: 0;">
		<h1 style="font-size: 2.5em; color: white; margin: 0; font-family: 'Bebas Neue', sans-serif;">{{album.name}}</h1>
	</div>

	<button
		onclick="playMusicList('{{ album.id }}', false)"
		class="btn btn-success mt-2"
	><i class="bi bi-play-fill"></i>Play</button>

	{% if album.user == user %}
		<button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#edit-album-modal">Edit</button>
		<button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#add-song-modal">Add Song</button>
	{% endif %}
	{% else %}
		<h1 style="font-size: 2.5em; color: white; margin: 0; font-family: 'Bebas Neue', sans-serif;">This Album is private</h1>
	{% endif %}
</div>

{% if album %}
{% include "track_list.html" %}

<!-- Edit Modal -->
<div class="modal fade" id="edit-album-modal" tabindex="-1" aria-labelledby="edit-album-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Edit Album</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post" action="" enctype="multipart/form-data">
					{% csrf_token %}
					{% if error %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
					{% endif %}
					<div class="mb-3">
						{{ edit_form }}
					</div>

					<div><div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<input type="submit" class="btn btn-danger" value="Save Changes">
					</div></div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Add Song Modal -->
<div class="modal fade" id="add-song-modal" tabindex="-1" aria-labelledby="add-song-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Add Song</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- search music -->
				<input class="form-control" type="search" 
					name="q" placeholder="Begin Typing To Search Tracks..."
					hx-get="/searchaddtracks/{{ album.id }}?p=0" 
					hx-trigger="input changed delay:500ms, search" 
					hx-target="#search-results" 
					hx-indicator=".htmx-indicator"
					hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
				>
				<span class="htmx-indicator"> 
					Searching... 
				</span>
				<table class="table">
					<tbody id="search-results"></tbody>
				</table>
			</div>
		</div>
	</div>
<script>
document.title = "{{ album.name }} - SOUND SPAWN";    
</script>
{% endif %}