<div class="form-container" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <form action="/newalbum/" method="post" enctype="multipart/form-data" style="background-color: #D8B9B2; padding: 40px; border-radius: 10px; width: 400px;">
        <div style="margin-bottom: 20px;">
            <label for="song-name" style="font-weight: bold; font-size: 18px;">Album name :</label>
            <input id="id_name" name="name" type="text" name="songname" style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc; font-size: 16px;">
        </div>
        <div style="margin-bottom: 20px; font-weight: bold; font-size: 18px;">Upload Your Picture Here :</div>

        {% csrf_token %}

        <div style="background-color: #7D2A26; color: white; width: 100%; height: 150px; display: flex; align-items: center; justify-content: center; border-radius: 10px; cursor: pointer; position: relative;">
            <input id="id_pic" name="pic" type="file" name="file" style="opacity: 0; position: absolute; width: 100%; height: 100%; cursor: pointer;">
            <span id="file-chosen" style="font-size: 36px; color: #FFFFFF; z-index: 1;">+</span>
        </div>

        <div style="text-align: center; margin-top: 30px;">
            <button type="submit" style="padding: 12px 25px; background-color: #7D2A26; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">Submit</button>
        </div>
    </form>
</div>

<script>
const idPic = document.getElementById('id_pic');

const fileChosen = document.getElementById('file-chosen');

idPic.addEventListener('change', function(){
    fileChosen.textContent = this.files[0].name;
    fileChosen.style.fontSize = '16px';
})
</script>

<script>  
document.title = "New Album - SOUND SPAWN";    
</script>