{% load static %}
<div>
	<div style="background-color: #FF7373; height: 300;">
		<!-- big profile picture -->
		<div class="text-white d-flex p-4 pt-5">
			<img src="{{ profile_picture }}" alt="Profile Picture" class="rounded-circle" style="width: 200px; height: 200px">
			<div class="ms-5" hx-target="#edit-profile-section">
				<h1 class="bg-danger p-2 my-auto">{{profile_user.username}}</h1>
				<div>Joined: {{profile_user.date_joined}}</div>
				{% if profile_user == user %}
					<button class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#edit-profile-modal">Edit Profile</button>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="mt-5">
		<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
			  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Playlists</button>
			</li>
			<li class="nav-item" role="presentation">
			  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Tracks</button>
			</li>
			<li class="nav-item" role="presentation">
			  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Albums</button>
			</li>
		</ul>
		<div class="tab-content" id="pills-tabContent" hx-target="#content">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
				<div class="row">
					<div class="col-4">
						<a href="{% url 'playlist_create' %}" hx-get="{% url 'playlist_create' %}" hx-push-url="true">
							<div class="text-bg-secondary d-flex justify-content-center" style="width: 250px; height: 250px">
								<span class="text-white fw-bold fs-1 mx-auto my-auto">+</span>
							</div>
							<p class="fs-4 fw-bold mt-2 text-decoration-none text-black">{{playlist.name}}</p>
						</a>
					</div>
					{% for playlist in playlists %}
						<div class="col-4">
							<a href="{% url 'playlist' playlist.id %}" hx-get="{% url 'playlist' playlist.id %}" hx-push-url="true">
								<img src="{% static 'images/none.png' %}" alt="Playlist Icon" style="width: 250px; height: 250px">
								<p class="fs-4 fw-bold mt-2 text-decoration-none text-black">{{playlist.name}}</p>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
				<div class="row">
					<div class="col-4">
						<a href="{% url 'sound_create' %}" hx-get="{% url 'sound_create' %}" hx-push-url="true">
							<div class="text-bg-secondary d-flex justify-content-center" style="width: 250px; height: 250px">
								<span class="text-white fw-bold fs-1 mx-auto my-auto">+</span>
							</div>
							<p class="fs-4 fw-bold mt-2 text-decoration-none text-black">{{track.name}}</p>
						</a>
					</div>
					{% for sound in sounds %}
						<div class="col-4">
							<a href="{% url 'sound' sound.id %}" hx-get="{% url 'sound' sound.id %}" hx-push-url="true">
								<img src="{{ sound.get_cover }}" alt="sound Icon" style="width: 250px; height: 250px">
								<p class="fs-4 fw-bold mt-2 text-decoration-none text-black">{{sound.name}}</p>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
				<div class="row">
					<div class="col-4">
						<a href="{% url 'album_create' %}" hx-get="{% url 'album_create' %}" hx-push-url="true">
							<div class="text-bg-secondary d-flex justify-content-center" style="width: 250px; height: 250px">
								<span class="text-white fw-bold fs-1 mx-auto my-auto">+</span>
							</div>
							<p class="fs-4 fw-bold mt-2 text-decoration-none text-black">{{album.name}}</p>
						</a>
					</div>
					{% for album in albums %}
						<div class="col-4">
							<a href="{% url 'album' album.id %}" hx-get="{% url 'album' album.id %}" hx-push-url="true">
								<img src="{% static 'images/none.png' %}" alt="Album Icon" style="width: 250px; height: 250px">
								<p class="fs-4 fw-bold mt-2 text-decoration-none text-black">{{album.name}}</p>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="edit-profile-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post" action="edit/" enctype="multipart/form-data">
					{% csrf_token %}
					{% if error %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
					{% endif %}
					<div class="mb-3">
						{{ edit_form }}
					</div>

					<div><div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<input type="submit" class="btn btn-danger" value="Save Changes">
					</div></div>
				</form>
			</div>
		</div>
	</div>
</div>