<div class="mt-4">

<form method="post">
	{% csrf_token %}
	<div class="card mb-3">
		<div class="card-header fw-bold text-white" style="background-color: #631919">Sign In</div>
		<div class="card-body">
			{% if error %}
			<div class="alert alert-danger" role="alert">
				{{ error }}
			</div>
			{% endif %}
			<div class="mb-3">
				{{ form }}
			</div>
			<button type="submit" class="btn btn-danger">Sign In</button>
		</div>
	</div>
</form>

<script>
document.title = "Sign In - SOUND SPAWN";    
</script>

</div>